body {
    direction: rtl;
    text-align: right;
}

.nav.nav-custom .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.nav.nav-custom .nav-item .nav-link:hover,
.nav.nav-custom .nav-item .nav-link:focus,
.nav.nav-custom .nav-item .nav-link:active {
    color: rgba(255, 255, 255, 1.0);
}

.nav.nav-custom .nav-item.active .nav-link {
    color: rgba(255, 255, 255, 1.0)!important;
}

.counter {
    background: red;
    padding: 1px 2px;
    border: 1px lightcoral solid;
    border-radius: 3px;
    font-size: 75%;
    color: white;
}

.counter-lg-md {
    position: absolute;
    top: 0;
    right: 5px;
}

.counter-sm {
    position: relative;
    top: -8px;
    right: -8px;
}




/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.my-sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 56px;
}

.my-sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 250px;
}